#mymenu {
    float: left;
    width: 150px;
    height: auto;
    margin: 20px 10px;
    list-style: none;
}

#mymenu li {
    display: block !important;
    width: auto;
    padding: 0 10px;
    font-size: 18px;
}

#mymenu li ul {
    display: none;
    width: 200px;
}

#mymenu li:hover ul {
    display: block;
    list-style: none;
    margin: 0 0 0 0px;
    padding: 0;
}

#mymenu li ul li {
    float: left;
    width: 200px;
    padding: 5px 0;
    font-size: 14px;
}