<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{menuFragment.html}">
<head>
	<meta charset="utf-8" />
	<title>Form</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="../../resources/static/jqwidgets/styles/jqx.base.css" type="text/css" th:href="@{/jqwidgets/styles/jqx.base.css}" />
	<link th:href="@{/style.css}" href="../../resources/static/style.css" rel="stylesheet"/>
	<script type="text/javascript" src="../../resources/static/scripts/jquery-1.11.1.min.js" th:src="@{/scripts/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" src="../../resources/static/jqwidgets/jqxcore.js" th:src="@{/jqwidgets/jqxcore.js}"></script>
	<script type="text/javascript" src="../../resources/static/jqwidgets/jqxmenu.js" th:src="@{/jqwidgets/jqxmenu.js}"></script>
</head>

<body>

<div class="wrapper">

	<header class="header">

		<form action="/login1" method="post" id="form2">
			<fieldset>
				<legend>Connection</legend>
				<label>Ip<input id="ip1" type="text" name="ip1" /></label>
				<label>Port<input id="port" type="text" name="port"/></label>
				<label>Login<input id="login1" type="text" name="login1"/></label>
				<label>Pasword<input id="pass" type="password" name="pass"/></label>
				<button type="submit">login</button>
			</fieldset>
		</form>

		Select folder: <div id="selectFolder"></div>

	</header>

	<div class="middle">

		<div class="container">
			<main class="content">


                <form action="/upload" method="post" id="form_upload" enctype="multipart/form-data">
                    <fieldset>
						<p>	<input type="text" id="path_form" name="path" value=""/>
							<input type="file" name="file"/>
							<button type="submit"> Upload file</button>
						</p>

                    </fieldset>
                </form>

            </main><!-- .content -->

		</div><!-- .container-->

		<aside class="left-sidebar">
			<strong>Left Sidebar: file-tree from ssh server</strong>
			<div id="jqxMenu" th:if="${isconnected==true}">


			<ul th:fragment="fragment_node(menu)" th:unless="${#lists.isEmpty(menu.children)}" >

				<li th:each="child: ${menu.children}" th:inline="text">
					[[${child.path}]]
					<ul th:replace="this::fragment_node(${child})"></ul>
				</li>

			</ul>
			</div>
        </aside><!-- .left-sidebar -->

		<aside class="right-sidebar">
			<strong>Right Sidebar: choosing file</strong>
        </aside><!-- .right-sidebar -->

	</div><!-- .middle-->
</div><!-- .wrapper -->

<!--<footer class="footer">-->
	<!--<strong>Footer:</strong> Не знаю зачем, пусть пока будет.-->
<!--</footer>&lt;!&ndash; .footer &ndash;&gt;-->
<script th:inline="javascript">
    $(document).ready(function () {
        // Create a jqxMenu
        $("#jqxMenu").jqxMenu({ width: '120', mode: 'vertical'});
        $("#jqxMenu").css('visibility', 'visible');
    });
	var element='';
	var ss='';
    $('#jqxMenu').on('itemclick', function (event)
    {
        // get the clicked LI element.
        element = event.args;
        ss=element.textContent;
        ss=ss.split('\t').join('');
        ss=ss.split('\n').join('');
        $('#selectFolder').text('');
		$('#selectFolder').text(ss);
        $('#path_form').val(ss);
    });

</script>


</body>
</html>